.dart_tool/
.pub-cache/
.pub/
build/
coverage/
.flutter-plugins-dependencies
doc/api/
app.*.symbols
app.*.map.json
.widget_preview/
.env
.env.*
android/
ios/
linux/
macos/
windows/
.DS_Store
*.log
.vscode/
.idea/
*.iml
*.ipr
*.iws
.git/
.gitignore
Dockerfile
.dockerignore
README.md